.button-main {
    text-align: center;
    margin: 0px auto;
}
b {
    color: blueviolet;
}
a.btn-blue {
    font-size: 26px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-image: none;
    border-radius: 6px;
    outline: medium none;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.5) inset;
    display: inline-block;
    background: red none repeat scroll 0% 0%;
    color: white;
}

a.btn-blue::first-line {
}

a.btn-blue:hover {
    color: rgb(255, 255, 255);
    background: rgb(220, 20, 60) none repeat scroll 0% 0%;
}

a.btn-blue:active {
    color: rgb(255, 255, 255);
    border-color: rgb(41, 112, 169);
    background-image: linear-gradient(rgb(87, 150, 200), rgb(106, 162, 206));
    box-shadow: none;
}

p.txt_center {
    text-align: center;
    padding-top: 15px;
}

body {
    font-family: "PT Sans", sans-serif;
}

.contentBox {
    line-height: 1.5;
}

.contentBox p {
    padding-bottom: 10px;
}

.contentBox h1 {
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 27px;
}

.contentBox h2 {
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.green-horizontal-box {
    width: 96%;
    padding: 2%;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(154, 206, 116, 0.49) none repeat scroll 0% 0%;
}

.red-border-horizontal-box {
    width: 96%;
    padding: 2%;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 5px solid red;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
}

input:active, textarea:active, a:active {
    outline: medium none;
}

:focus {
    outline: medium none;
}

a img {
    border: 0px none;
}

#wraper {
    max-width: 1100px;
    margin: 10px auto 20px;
    padding: 5px 18px 0px;
    background: rgb(255, 255, 255) none repeat scroll 0px 0px;
}

#topBaner {
    text-align: center;
    width: 100%;
    min-width: 1208px;
}

#topBaner img {
    margin: auto;
}

.bannerPlace {
    display: inline-block;
}

#logoAndNav {
    margin-top: 30px;
    text-align: center;
    white-space: nowrap;
    float: left;
    width: 100%;
}

#logo {
    float: left;
    margin-top: -10px;
    text-align: left;
    vertical-align: middle;
}

#logo img {
    width: 54px;
}

header nav, header nav ul, header nav ul li {
    display: inline-block;
}

header nav ul {
    margin-top: 10px;
    vertical-align: bottom;
}

header nav {
    margin-left: 0px;
}

header nav ul li {
    font-size: 14pt;
    font-weight: normal;
    margin-left: 12px;
}

header nav ul li::before {
    content: "•";
    font-size: 14pt;
    font-weight: bold;
    margin-right: 12px;
    vertical-align: middle;
}

header nav ul li:nth-child(1)::before {
    display: none;
    color: white;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    padding-bottom: 5px;
}

#login {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    vertical-align: baseline;
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 14pt;
    border-bottom: 1px dashed rgb(102, 102, 102);
}

#login:active {
    border: medium none;
}

#promoline {
    float: left;
    width: 100%;
    margin-top: 30px;
    height: 59px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}

#promoline div {
    position: absolute;
    height: 10px;
    z-index: 99;
    opacity: 0.3;
    max-width: 1220px;
}

#ov2 {
    margin-top: -10px;
}

#promoline a {
    display: inline-block;
    height: 59px;
    overflow: hidden;
    width: 238px;
    color: black;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
}

#promoline a strong {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

#promoline a strong span {
    font-size: 18px;
    line-height: 18px;
}

#promoline a img {
    height: 59px;
    vertical-align: top;
}

#contentWraper {
    display: inline-block;
    width: 100%;
    min-height: 1800px;
}

#newsColumn h2::before, #newsColumn h2::after, #commentColumn h2::before, #commentColumn h2::after {
    display: inline-block;
    content: " ";
    width: 55px;
    border-bottom: 1px solid rgb(77, 77, 77);
    margin-bottom: 3px;
}

.bottomLink::before, .bottomLink::after {
    width: 85px !important;
}

#newsColumn h2::before, #commentColumn h2::before {
    margin-right: 18px;
}

#newsColumn h2::after, #commentColumn h2::after {
    margin-left: 18px;
}

#events h2::before, #events h2::after {
    border: medium none;
}

#elsePromoLine a:nth-child(3) {
    margin-right: 0px;
}

#blogs p:nth-child(4) {
    margin-right: 0px;
}

footer {
    height: 80px;
    background: rgb(100, 156, 191) none repeat scroll 0px 0px;
    text-align: center;
    min-width: 1208px;
}

footer div {
    display: inline-block;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

footer #disclamer {
    font-size: 20px;
    width: 1000px;
}

footer #ageRestriction {
    font-size: 25pt;
    vertical-align: top;
    margin-left: 60px;
    font-family: "PT Sans Narrow", Impact, sans-serif;
}

a.active {
    border-bottom: 4px solid rgb(167, 190, 57);
}

#newsColumn nav ul li a::first-letter {
    text-transform: uppercase;
}

#newsColumn h2::before, #newsColumn h2::after {
    display: none;
}

#popular h2::before, #popular h2::after {
    display: none;
}

#text {
    vertical-align: top;
    display: block;
    width: 90%;
    text-align: center;
    margin: 0px auto;
}

#align {
    padding-left: 0px;
    text-align: left;
    display: inline-block;
}

#sectionArticle, #theme {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}

#sectionArticle {
    margin-bottom: 0px;
    color: rgb(109, 148, 86);
}

#smartbanner .sb-icon.gloss::after {
    content: "";
    position: absolute;
    left: 0px;
    top: -1px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 12px 12px;
}

* {
    margin: 0px;
    padding: 0px;
}

.top-block {
    padding: 15px 0px;
    max-width: 100%;
    display: none;
}

.comment {
    text-align: left;
}

.comment p {
    text-align: justify;
}

.top-block .list a {
    display: inline-block !important;
    width: 125px !important;
    color: rgb(255, 255, 255);
    background: rgb(96, 165, 212) none repeat scroll 0% 0%;
    border-radius: 5px;
    margin: 10px 15px;
    padding: 5px 0px;
}

.list {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding-bottom: 25px;
    max-width: 815px;
    margin: 0px auto;
}

.list__item {
    float: left;
    border: 1px solid rgb(96, 165, 212);
    border-radius: 5px;
    height: 145px;
    display: inline-block;
    margin: 0px 1.9%;
    width: 150px;
    padding: 0px 5px;
}

.list__item img {
    max-width: 100px;
}

.list__item p {
}

.clearfix {
}

.clearfix::before, .clearfix::after {
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}

.comment div {
    border-top: 1px solid rgb(96, 165, 212);
    margin: 10px 0px !important;
}

.one {
    width: 95%;
    margin-left: 50px;
}

.clinic__title {
    margin-top: 30px;
    font-weight: bold;
    text-align: left;
    font-size: 23px;
}

@media screen and (max-width: 1270px) {
    #login {
        float: right;
    }

    header nav ul {
        display: none;
    }

    .one {
        padding-left: 50px;
        width: 105%;
        margin: 0px;
    }

    #topBaner {
        min-width: 240px;
        height: auto !important;
        background: rgb(96, 165, 212) none repeat scroll 0% 0%;
    }

    #topBaner a {
        display: block;
        width: 100%;
    }

    #topBaner a img {
        width: 100%;
    }

    #wraper {
        min-width: 240px;
        max-width: 964px;
    }

    footer {
        min-width: 240px;
    }

    #cnt p {
    }

    footer #disclamer {
        width: 500px;
    }

    .comment {
        width: 100%;
    }

    #align {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1000px) {


    .one {
        padding-left: 0px;
        width: 100%;
    }

    .comment {
        padding: 0px;
        width: 100%;
    }

    body {
        background: rgb(96, 165, 212) none repeat scroll 0% 0% !important;
    }

    .bannerPlace {
        display: block;
    }

    .top-block .list #top-list {
        display: none !important;
    }

    .top-block a {
        display: block !important;
        text-decoration: none;
    }

    #topBaner {
        height: auto !important;
        background: rgb(96, 165, 212) none repeat scroll 0% 0% !important;
    }

    .top-block {
        display: block;
    }

    .top-block {
        height: 90px;
        margin: 0px auto;
    }

    #topBaner > div > div > div > a > div > img {
        float: left;
        height: 80px;
        margin-left: 0px;
        width: auto;
    }

    #topBaner a {
        display: none;
    }

    .inner {
        overflow: hidden;
        padding-left: 3%;
        padding-right: 3%;
        width: 90%;
        margin: 0px auto;
    }

    footer {
        display: none;
    }

    #text, #contentWraper {
        width: 100%;
    }

    #align {
        width: 90%;
        padding: 0px 5%;
    }

    #wraper {
        overflow: hidden;
        padding: 3%;
        width: 90%;
        margin: 0px auto;
    }

    #text {
        margin: 0px;
    }

    #align {
        width: 100%;
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    .list__item {
        width: 80px;
        height: 110px;
    }

    .list {
        max-width: 625px;
    }


    .list__item p {
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .top-block {
        max-width: 100%;
        height: 70px;
        margin: 0px auto;
    }

    #topBaner > div > div > div > a > div > img {
        float: left;
        height: 70px;
        margin-left: 15px;
        width: auto;
    }

    #top-list {
        display: none !important;
    }

    #wraper {
        padding: 5%;
    }
}

@media screen and (max-width: 479px) {
    .top-block {
        max-width: 100%;
        margin: 0px auto;
        height: 70px;
    }

    #top-list {
        display: none !important;
    }

    #topBaner > div > div > div > a > div > img {
        height: 70px;
        width: auto;
    }

    #wraper {
        padding: 5%;
    }

    .inner {
        overflow: hidden;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 370px) {
    body {
        background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
    }

    .top-block {
        max-width: 100%;
        height: 50px;
        margin: 0px auto;
    }

    #topBaner > div > div > div > a > div > img {
        height: 50px;
        width: auto;
    }

    #wraper {
        padding: 5%;
    }

    .comment div {
        width: 93%;
        margin: 10px 1% !important;
    }
}

@media screen and (max-width: 240px) {
}

#lleo_dialog *::before, #lleo_dialog *::after {
    content: "";
}

@font-face {
    font-family: "rbicon";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/rbicon.woff2') /*tpa=http://zdorov5.ru/med/rbicon.woff2*/ format("woff2");
}

.boxit {
    border: 4px solid red;
    padding: 20px;
    color: red;
    font-weight: bold;
    margin: 15px 0px;
}

.boxit p {
    padding: 0px;
    font-size: 19px;
}

.content-left-doctor {
    display: block;
    width: 96%;
    background-color: rgb(226, 226, 226);
    padding: 2%;
    margin-top: 15px;
}

.content-left-doctor-text {
    display: block;
    font-size: 15px;
    line-height: 1.4;
}

.center {
    width: 620px;
    margin: 0px auto;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.clear {
    clear: both;
}

@media screen and (max-width: 800px) {
    .help_img {
        width: 100%;
    }
}

@media screen and (max-width: 710px) {
    .center {
        width: 100%;
    }

    .float_l, .float_r {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .center img {
        width: 100%;
    }

    .comment_img3 {
        width: 100%;
    }
}

.comment_img1 {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .comment_img2 {
        width: 100%;
    }
}

/* ::::: https://scripts.med-24news.com/popup/popupcss/popupstyles.css ::::: */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url('../fonts/rjgo7rytmqivp7vzi-q5uvtxra8tvwticgirnjhmvjw.woff2') /*tpa=http://zdorov5.ru/med/rjgo7rytmqivp7vzi-q5uvtxra8tvwticgirnjhmvjw.woff2*/ format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url('../fonts/cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') /*tpa=http://zdorov5.ru/med/cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2*/ format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url('../fonts/k3k702zokiljc3wvjuplzoxreehhji4geuji9ob_ak4.woff2') /*tpa=http://zdorov5.ru/med/k3k702zokiljc3wvjuplzoxreehhji4geuji9ob_ak4.woff2*/ format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url('../fonts/k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2') /*tpa=http://zdorov5.ru/med/k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2*/ format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.popup-container {
    position: fixed;
    margin: 0px auto 0px -430px;
    top: -50px;
    left: 50%;
    display: none;
    z-index: 998;
}

.popup-header {
    font-family: Arial, "Times New Roman", Times, serif;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    background-color: rgb(14, 102, 171);
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
}

.popup-close {
    position: absolute;
    width: 30px;
    height: 40px;
    right: 10px;
    top: 10px;
    line-height: 40px;
    color: rgb(222, 69, 92);
    font-size: 40px;
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0px 0px 1.5rem rgb(255, 255, 255);
    opacity: 0.7;
    transition: all 0.2s ease 0s;
    font-weight: normal;
}

.popup-close:hover {
    opacity: 1;
}

.popup-content {
    text-align: center;
    position: relative;
    z-index: 999;
    width: 850px;
    height: 460px;
    background-color: rgb(86, 133, 180);
    border: 5px solid rgb(221, 221, 221);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.teaser {
    width: 220px;
    height: 350px;
    background: rgb(255, 255, 255) url('../img/teaser-background.png') /*tpa=http://zdorov5.ru/med/teaser-background.png*/ repeat-x scroll center bottom;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 5px 0.34%;
    padding: 10px;
    flex-direction: column;
    overflow-wrap: break-word;
    text-align: center;
    display: inline-block;
}

.teaser__img img {
    width: 182px;
    height: 182px;
}

.teaser__info {
    height: 95px;
}

.teaser__header {
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    line-height: 14px;
    margin: 5px 0px 10px;
}

.teaser__text {
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    line-height: 12px;
}

.teaser__btn {
    text-decoration: none;
    line-height: 21px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(86, 133, 180) none repeat scroll 0% 0%;
    padding: 5px 8%;
    border-radius: 3px;
    overflow-wrap: normal;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
}

.teaser > a:hover .teaser__header {
    text-decoration: underline;
}

.teaser > a:hover .teaser__btn {
    background: rgb(227, 66, 34) none repeat scroll 0% 0%;
}

.popup-container a {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent none repeat scroll 0% 0%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.popup-container a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.popup-container a:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.popup-container a:hover {
    color: rgb(0, 0, 0);
}

.popup-background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    transition: opacity 0.3s ease 0s;
    left: 0px;
    opacity: 1;
    z-index: 998;
}

.teaser__img img {
    margin: 0px;
}

#product-block {
    background: rgba(0, 0, 0, 0) url('../img/urelayn.png') /*tpa=http://zdorov5.ru/med/urelayn.png*/ no-repeat scroll center center / contain;
    transition: all 0.3s ease 0s;
    height: 338px;
    width: 100% !important;
    display: block;
    margin: 30px 1px -15px -10% !important;
    text-align: center;
}

#product-block:hover {
    opacity: 0.9;
    transition: all 0.3s ease 0s;
}

#product-block .plashka2-t {
    color: rgb(255, 249, 21);
    font-size: 17px;
    line-height: 25px;
}

#product-block .plashka2 b {
    text-shadow: 1px 1px 2px rgb(55, 56, 56);
}

#product-block .plashka2 {
    position: absolute;
    background: rgba(0, 0, 0, 0) url('../img/sale-bg-2.png') /*tpa=http://zdorov5.ru/med/sale-bg-2.png*/ no-repeat scroll center center / 200px 272px;
    width: 300px !important;
    height: 138px;
    padding: 144px 30px 0px 0px;
    line-height: 22px;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin: 48px 0px 0px -10px !important;
    font-family: "Roboto", sans-serif;
    box-sizing: content-box;
    z-index: 5;
}

@media screen and (max-width: 767px) {
    #product-block {
        width: 100% !important;
        height: 224px !important;
        margin: 0px 0px 0px -10% !important;
    }

    #product-block .plashka2 {
        background-size: 135px 188px;
        width: 110px !important;
        height: 98px;
        padding: 95px 25px 0px 0px;
        line-height: 16px;
        font-size: 13px;
        margin: 30px 0px 0px 1px !important;
    }

    #product-block .plashka2-t {
        font-size: 15px;
    }
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 200px) {
    #product-block .plashka2 {
        display: none;
    }
}

.btnGo {
    display: block;
    width: 300px;
    margin: 15px auto 10px;
}

.btnGo {
    display: block;
    width: 300px;
    margin: 15px auto 10px;
}

nopersamit {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    float: none;
    text-align: left;
    background: transparent;
}

.nopersamitvl {
    display: none;
}

